{% extends "base.html" %}
{% block title %} Listado {% endblock title %}

{% block content %}
    <div class="container">
        <div class="page-header">    
            <h1>Clientes de Conesa Inc.</h1>
        </div>

        <table class="table table-bordered">
            <thead>
                {% for header in headers %}
                    <th class="info">{{ header }}</th>
                {% endfor %}
            </thead>
            <tbody>
                {% for persona in personas %}
                    <tr>
                        <td>{{ persona["Nombre"] }}</td>
                        <td>{{ persona["Edad"] }}</td>
                        <td>{{ persona["Dirección"] }}</td>
                        <td>{{ persona["País"] }}</td>
                        <td>{{ persona["Documento"] }}</td>
                        <td>{{ persona["Fecha Alta"] }}</td>
                        <td>{{ persona["Correo Electrónico"] }}</td>
                        <td>{{ persona["Trabajo"] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock content %}
